body {
  font-family: Overpass, Arial, Sans Serif;
  color: #404042;
  font-size: 18px;
  margin: 0;
}

h1 {
	font-size: 45px;
	color: white;
	font-family: Chivo, Arial, Sans Serif;
}

.container {
  width: 900px;
  margin: 60px auto;
}

.cta-blue {
  background-color: #1A48E3;
  color: white;
  padding: 16px 48px;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
  transition: .3s;
  font-size: 20px;
  font-weight: bold;
}

.cta-blue:hover {
  background-color: #0D1EC6;
  color: white;
}

.banner {
	text-align: center;
	background-image: url("images/background.jpg");
	 background-size: cover;
  	background-position: center;
  	padding: 150px 0;
}

.banner p {
  color: white;
  font-size: 24px;
  opacity: 0.7;
}

.scarte {
  background: white;
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
  border-radius: 4px;
  padding: 24px;
  margin: 8px;
  flex-grow: 1;
}

.scarte img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 4px;
}

.scarte h3 {
  margin-bottom: 0;
}

.footer {
  background: #404042;
  color: white;
  padding: 10px 0px;
}

.cartes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}